@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  color: white;
}

body {
  background: linear-gradient(to bottom, black, #23003b);
  height: 100vh;
  width: 100vw;
}

header {
  background-color: #23003b;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.titulo {
  border: 2px solid #6a0dad;
  color: white;
  font-weight: bold;
  padding: 0 20px;
  cursor: pointer;
}

.titulo:hover {
  transform: scale(1.1);
  transition: 0.7s ease;
}

#barra-pesquisa {
  background: white;
  color: #23003b;
  border: none;
  width: 250px;
  margin-right: 13px;
  height: 25px;
  border-radius: 3px;
  position: absolute;
  left: 46%;
  bottom: 27px;
  transform: translateX(-45%);
  display: flex;
  align-items: center;
}

.pesquisar {
  position: absolute;
  left: 61%;
  display: flex;
  bottom: 22.5px;
}

.menu {
  background-color: #6a0dad;
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  padding: 10px;
  gap: 30px;
  
}